<h1>Photo</h1>

<%= form_tag admin_photo_index_path, id: 'photo_dropzone', class: 'my-5 dropzone needsclick dz-clickable' do %>
  <div class="text-center m-y-0 dz-message needsclick">
    <strong>Drop files here or click to upload.</strong>
  </div>
  <div class="text-center">
    <div class="fallback">
      <%= file_field_tag :file, multiple: true %>
    </div>
    <div id="dropzone_previews_container"></div>
  </div>
<% end %>

<div id="photo" class="row">
  <%= render partial: 'photo', collection: @photo %>
</div>

<div id="dropzone_preview_template" style="display: none;">
  <div class="dz-preview dz-file-preview">
    <div class="media mt-3">
      <img class="d-flex mr-3" data-dz-thumbnail height="75" width="75"/>
      <div class="media-body">
        <h5 class="mt-0"><span data-dz-name></span></h5>
        <span class="text-muted">
          <span class="dz-size" data-dz-size></span>
        </span>
        <p class="dz-error-message text-danger">
          <span data-dz-errormessage></span>
        </p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" data-dz-uploadprogress></div>
        </div>
      </div>
    </div>
  </div>
</div>
