<% content_for :footer_javascripts do %>
  <%# javascript_include_tag 'admin/article_editor' %>
<% end %>

<h1>Update Article</h1>
<div class="my-4">
  <%= link_to 'Preview', article_path(@article.slug), class: 'btn btn-primary', target: '_blank' %>
</div>

<%= form_for @article, url: admin_article_path(@article.id) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
<% end %>
