<li>
  <div class="item-content">
    <h3 class="title"><%= link_to article.title, article_path(article.slug) %></h3>
    <p class="dek"><%= article.description %></p>
    <p class="meta"></p>
    <p class="see-more"></p>
  </div>
</li>
