<div class="mantle_skin">
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="row"></div>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-8">
                <div class="module module-listing">
                  <div class="section-heading">

                  </div>
                  <div id="article-river" class="river">
                    <div class="content-list listing-standard">
                      <ul class="media-list items">
                        <% @articles.each do |article| %>
                          <li>
                            <div class="item-content">
                              <h3 class="title"><%= link_to article.title, article_path(article.id) %></h3>
                              <p class="dek"><%= article.description %></p>
                              <p class="meta"></p>
                              <p class="see-more"></p>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
