<% if object.errors.any? %>
  <div class="validation-errors alert alert-danger">
    <ul class="list-unstyled my-0">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
