<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a href="#" class="navbar-brand">TechLogging</a>
    <div class="collapse navbar-collapse">
      <nav class="navbar-nav mr-auto">

      </nav>
    </div>
  </nav>
</header>
