<header>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0">TechLogging</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <%= link_to 'Sign Out', destroy_admin_user_session_path, class: 'nav-link', method: :delete, data: {confirm: 'Are you sure?'} %>
      </li>
    </ul>
  </nav>
</header>
