<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <%= link_to 'Articles', admin_articles_path, class: 'nav-link'  %>
    <%= link_to 'Photo', admin_photo_index_path, class: 'nav-link'  %>
    <%= link_to 'Terms', admin_taxonomy_terms_path, class: 'nav-link'  %>
  </li>
</ul>
