<script type="text/html" id="tmpl-media-frame">
  <div class="media-frame-menu"></div>
  <div class="media-frame-title"></div>
  <div class="media-frame-router"></div>
  <div class="media-frame-content"></div>
  <div class="media-frame-toolbar"></div>
  <div class="media-frame-uploader"></div>
</script>

<script type="text/html" id="tmpl-media-modal">
  <div class="media-modal wp-core-ui">
    <button type="button" class="media-modal-close"><span class="media-modal-icon"><span class="screen-reader-text">Close media panel</span></span></button>
    <div class="media-modal-content"></div>
  </div>
  <div class="media-modal-backdrop"></div>
</script>

<script type="text/html" id="tmpl-uploader-window">
  <div class="uploader-window-content">
    <h1>Drop files to upload</h1>
  </div>
</script>

<script type="text/html" id="tmpl-uploader-inline">
  <# var messageClass = data.message ? 'has-upload-message' : 'no-upload-message'; #>
  <# if ( data.canClose ) { #>
  <button class="close dashicons dashicons-no"><span class="screen-reader-text">Close uploader</span></button>
  <# } #>
  <div class="uploader-inline-content {{ messageClass }}">
    <# if ( data.message ) { #>
    <h2 class="upload-message">{{ data.message }}</h2>
    <# } #>
    <div class="upload-ui">
      <h2 class="upload-instructions drop-instructions">Drop files anywhere to upload</h2>
      <p class="upload-instructions drop-instructions">or</p>
      <button type="button" class="browser button button-hero">Select Files</button>
    </div>

    <div class="upload-inline-status"></div>

    <div class="post-upload-ui">

      <p class="max-upload-size">Maximum upload file size: 8 MB.</p>

      <# if ( data.suggestedWidth && data.suggestedHeight ) { #>
      <p class="suggested-dimensions">
        Suggested image dimensions: {{data.suggestedWidth}} by {{data.suggestedHeight}} pixels.					</p>
      <# } #>

    </div>
  </div>
</script>

<script type="text/html" id="tmpl-uploader-status">
  <h2>Uploading</h2>
  <button type="button" class="button-link upload-dismiss-errors"><span class="screen-reader-text">Dismiss Errors</span></button>

  <div class="media-progress-bar"><div></div></div>
  <div class="upload-details">
			<span class="upload-count">
				<span class="upload-index"></span> / <span class="upload-total"></span>
			</span>
    <span class="upload-detail-separator">&ndash;</span>
    <span class="upload-filename"></span>
  </div>
  <div class="upload-errors"></div>
</script>

<script type="text/html" id="tmpl-uploader-editor">
  <div class="uploader-editor-content">
    <div class="uploader-editor-title">Drop files to upload</div>
  </div>
</script>

<script type="text/html" id="tmpl-media-selection">
  <div class="selection-info">
    <span class="count"></span>
    <# if ( data.editable ) { #>
    <button type="button" class="button-link edit-selection">Edit Selection</button>
    <# } #>
    <# if ( data.clearable ) { #>
    <button type="button" class="button-link clear-selection">Clear</button>
    <# } #>
  </div>
  <div class="selection-view"></div>
</script>

<script type="text/html" id="tmpl-attachment-details">
  <h2>
    Attachment Details			<span class="settings-save-status">
				<span class="spinner"></span>
				<span class="saved">Saved.</span>
			</span>
  </h2>
  <div class="attachment-info">
    <div class="thumbnail thumbnail-{{ data.type }}">
      <# if ( data.uploading ) { #>
      <div class="media-progress-bar"><div></div></div>
      <# } else if ( 'image' === data.type && data.sizes ) { #>
      <img src="{{ data.size.url }}" draggable="false" alt="" />
      <# } else { #>
      <img src="{{ data.icon }}" class="icon" draggable="false" alt="" />
      <# } #>
    </div>
    <div class="details">
      <div class="filename">{{ data.filename }}</div>
      <div class="uploaded">{{ data.dateFormatted }}</div>

      <div class="file-size">{{ data.filesizeHumanReadable }}</div>
      <# if ( 'image' === data.type && ! data.uploading ) { #>
      <# if ( data.width && data.height ) { #>
      <div class="dimensions">{{ data.width }} &times; {{ data.height }}</div>
      <# } #>

      <# if ( data.can.save && data.sizes ) { #>
      <a class="edit-attachment" href="{{ data.editLink }}&amp;image-editor" target="_blank">Edit Image</a>
      <# } #>
      <# } #>

      <# if ( data.fileLength ) { #>
      <div class="file-length">Length: {{ data.fileLength }}</div>
      <# } #>

      <# if ( ! data.uploading && data.can.remove ) { #>
      <button type="button" class="button-link delete-attachment">Delete Permanently</button>
      <# } #>

      <div class="compat-meta">
        <# if ( data.compat && data.compat.meta ) { #>
        {{{ data.compat.meta }}}
        <# } #>
      </div>
    </div>
  </div>

  <label class="setting" data-setting="url">
    <span class="name">URL</span>
    <input type="text" value="{{ data.url }}" readonly />
  </label>
  <# var maybeReadOnly = data.can.save || data.allowLocalEdits ? '' : 'readonly'; #>
  <label class="setting" data-setting="title">
    <span class="name">Title</span>
    <input type="text" value="{{ data.title }}" {{ maybeReadOnly }} />
  </label>
  <label class="setting" data-setting="caption">
    <span class="name">Caption</span>
    <textarea {{ maybeReadOnly }}>{{ data.caption }}</textarea>
  </label>
  <# if ( 'image' === data.type ) { #>
  <label class="setting" data-setting="alt">
    <span class="name">Alt Text</span>
    <input type="text" value="{{ data.alt }}" {{ maybeReadOnly }} />
  </label>
  <# } #>
  <label class="setting" data-setting="description">
    <span class="name">Description</span>
    <textarea {{ maybeReadOnly }}>{{ data.description }}</textarea>
  </label>
</script>

<script type="text/html" id="tmpl-attachment">
  <div class="attachment-preview js--select-attachment type-{{ data.type }} subtype-{{ data.subtype }} {{ data.orientation }}">
    <div class="thumbnail">
      <# if ( data.uploading ) { #>
      <div class="media-progress-bar"><div style="width: {{ data.percent }}%"></div></div>
      <# } else if ( 'image' === data.type && data.sizes ) { #>
      <div class="centered">
        <img src="{{ data.size.url }}" draggable="false" alt="" />
      </div>
      <# } else { #>
      <div class="centered">
        <# if ( data.image && data.image.src && data.image.src !== data.icon ) { #>
        <img src="{{ data.image.src }}" class="thumbnail" draggable="false" alt="" />
        <# } else if ( data.sizes && data.sizes.medium ) { #>
        <img src="{{ data.sizes.medium.url }}" class="thumbnail" draggable="false" alt="" />
        <# } else { #>
        <img src="{{ data.icon }}" class="icon" draggable="false" alt="" />
        <# } #>
      </div>
      <div class="filename">
        <div>{{ data.filename }}</div>
      </div>
      <# } #>
    </div>
    <# if ( data.buttons.close ) { #>
    <button type="button" class="button-link attachment-close media-modal-icon"><span class="screen-reader-text">Remove</span></button>
    <# } #>
  </div>
  <# if ( data.buttons.check ) { #>
  <button type="button" class="check" tabindex="-1"><span class="media-modal-icon"></span><span class="screen-reader-text">Deselect</span></button>
  <# } #>
  <#
  var maybeReadOnly = data.can.save || data.allowLocalEdits ? '' : 'readonly';
  if ( data.describe ) {
  if ( 'image' === data.type ) { #>
  <input type="text" value="{{ data.caption }}" class="describe" data-setting="caption"
         placeholder="Caption this image&hellip;" {{ maybeReadOnly }} />
  <# } else { #>
  <input type="text" value="{{ data.title }}" class="describe" data-setting="title"
  <# if ( 'video' === data.type ) { #>
  placeholder="Describe this video&hellip;"
  <# } else if ( 'audio' === data.type ) { #>
  placeholder="Describe this audio file&hellip;"
  <# } else { #>
  placeholder="Describe this media file&hellip;"
  <# } #> {{ maybeReadOnly }} />
  <# }
  } #>
</script>

<script type="text/html" id="tmpl-attachment-display-settings">
  <h2>Attachment Display Settings</h2>

  <# if ( 'image' === data.type ) { #>
  <label class="setting align">
    <span>Alignment</span>
    <select class="alignment"
            data-setting="align"
    <# if ( data.userSettings ) { #>
    data-user-setting="align"
    <# } #>>

    <option value="left">
      Left					</option>
    <option value="center">
      Center					</option>
    <option value="right">
      Right					</option>
    <option value="none" selected>
      None					</option>
    </select>
  </label>
  <# } #>

  <div class="setting">
    <label>
      <# if ( data.model.canEmbed ) { #>
      <span>Embed or Link</span>
      <# } else { #>
      <span>Link To</span>
      <# } #>

      <select class="link-to"
              data-setting="link"
      <# if ( data.userSettings && ! data.model.canEmbed ) { #>
      data-user-setting="urlbutton"
      <# } #>>

      <# if ( data.model.canEmbed ) { #>
      <option value="embed" selected>
        Embed Media Player					</option>
      <option value="file">
        <# } else { #>
      <option value="none" selected>
        None					</option>
      <option value="file">
        <# } #>
        <# if ( data.model.canEmbed ) { #>
        Link to Media File					<# } else { #>
        Media File					<# } #>
      </option>
      <option value="post">
        <# if ( data.model.canEmbed ) { #>
        Link to Attachment Page					<# } else { #>
        Attachment Page					<# } #>
      </option>
      <# if ( 'image' === data.type ) { #>
      <option value="custom">
        Custom URL					</option>
      <# } #>
      </select>
    </label>
    <input type="text" class="link-to-custom" data-setting="linkUrl" />
  </div>

  <# if ( 'undefined' !== typeof data.sizes ) { #>
  <label class="setting">
    <span>Size</span>
    <select class="size" name="size"
            data-setting="size"
    <# if ( data.userSettings ) { #>
    data-user-setting="imgsize"
    <# } #>>
    <#
    var size = data.sizes['original'];
    if ( size ) { #>
    <option value="original" >
      Original &ndash; {{ size.width }} &times; {{ size.height }}
    </option>
    <# } #>
    <#
    var size = data.sizes['thumbnail'];
    if ( size ) { #>
    <option value="thumbnail" >
      Thumbnail &ndash; {{ size.width }} &times; {{ size.height }}
    </option>
    <# } #>
    <#
    var size = data.sizes['large'];
    if ( size ) { #>
    <option value="large" >
      Large &ndash; {{ size.width }} &times; {{ size.height }}
    </option>
    <# } #>
    <#
    var size = data.sizes['full'];
    if ( size ) { #>
    <option value="full"  selected='selected'>
      Full Size &ndash; {{ size.width }} &times; {{ size.height }}
    </option>
    <# } #>
    </select>
  </label>
  <# } #>
</script>

<script type="text/html" id="tmpl-uploader-status-error">
  <span class="upload-error-filename">{{{ data.filename }}}</span>
  <span class="upload-error-message">{{ data.message }}</span>
</script>
