<div class="row"></div>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-8">
        <div class="module module-listing">
          <div class="section-heading">

          </div>
          <div id="article-river" class="river">
            <div class="content-list listing-standard">
              <ul class="media-list items">
                <%= render @articles %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</div>
