<header class="page-header">
  <div class="fixation">
    <div class="nav-social-links">

    </div>
    <div class="masthead">
      <div class="container-header">
        <div class="logo-large">
          <div class="site-logo">
            <a href="<%= root_url %>" class="nav-logo">
              <h1 class="text-logotype">TechLogging</h1>
            </a>
          </div>
        </div>
        <div class="search-large"></div>
        <nav class="primaryNav">
          <ul class="navListMobile">
            <li class="logo-small">
              <div class="site-logo">
                <a href="<%= root_url %>" class="nav-logo">
                  <h1 class="text-logotype">TechLogging</h1>
                </a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
